global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:
  - job_name: 'backend'
    metrics_path: /metrics
    scheme: http
    dns_sd_configs:
      - names:
          - 'backend.observability.local'
        type: 'A'
        port: 3000

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
